.center-image
{
    margin: 0 auto;
    display: block;
}

.app_screenshot
{
	margin: 0 auto;
	display: block;
	border:1px solid #000000;
	height: 400px;
	width: 200px;
}

.web_screenshot
{
	height: 300px;
}